span {
    display: inline-block;
    font-size: 2rem;
    padding: 0 3%;
}

body {
    margin: 0;
    font-size: large;
}

input {
    border: none;
    font-size: 1.9rem;
    margin: 14px 5px;
    padding: 2px;
    width: 20%;
}

#welcome {
    padding-top:20px;
}
#avatar{
    margin-top: -20px;
}
#avatar > img {
    z-index: 100;
    width: 16%;
    margin-left: 3%;
}

#avatar > #progress {
    width: 40%;
    margin: auto;
    margin-top: 5px;
    padding-bottom: 1%;
}

#userInfo{
    position: relative;
    text-align:center;
    font-size: 2.2rem;
    z-index: 200;
}
#avatar > #progress > img {
    width: 16%;
    margin-left: 3%;
}

#cash {
    overflow: hidden;
    font-size: large;
}

#cash > img {
    margin-left: 6%;
    float: left;
    width: 26%;
}
#coin{
    width: 50px;
}

#cash > table {
    text-align: right;
    line-height: 140%;
    padding: 4% 10% 2% 5%;
}
#story, #choose > p {
    text-align: center;
    font-size: 1.4rem;
}
#storyDescription{
    text-align: center;
    font-size: 1rem;
    padding-bottom: 20px;
}
div[id^="operator"]{
    width: 75%;
    margin: auto;
}

.operatorImg{
    margin-left: 2%;
    margin-right: 3%;
    margin-bottom: 3%;
    vertical-align: middle;
    width: 16%;
}
.iterationsTick{
    margin-bottom: 3%;
    vertical-align: middle;
    width: 7%;
    margin-left: 6%;
}

#test{
    width: 86%;
    margin: auto;
    margin-top: 10%;
}
#preload{
    display:none;
}
